<ng-container *transloco="let t">

    <p-toast />

    <div class="shadow-2 border-round text-center md:p-8 bg-white ">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">
                    {{ t('registerPage.title') }}
                </div>
            </div>

            <label class="block text-900 font-medium mb-2" for="name">{{ t('registerPage.name') }}</label>
            <input class="w-full mb-3" type="text" formControlName="name" id="name" pInputText>

            @if(registerForm.get('name')?.invalid && registerForm.get('name')?.touched){
            <p-message severity="error" variant="outlined">
                {{ t('alertMessage.registerNameRequired') }}
            </p-message>
            }

            <label class="block text-900 font-medium mb-2" for="email">{{ t('registerPage.email') }}</label>
            <input class="w-full mb-3" formControlName="email" type="text" id="name" pInputText>

            @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
            <p-message severity="error" variant="outlined">
                {{ t('alertMessage.registerEmailRequired') }}
            </p-message>
            }

            <label class="block text-900 font-medium mb-2" for="password">{{ t('registerPage.password') }}</label>
            <input class="w-full mb-3" formControlName="password" type="password" id="password" pInputText>

            @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
            <p-message severity="error" variant="outlined">
                {{ t('alertMessage.errorCharacters') }}
            </p-message>
            }

            <label class="block text-900 font-medium mb-2" for="confirm-password">
                {{ t('registerPage.confirmPassword') }}
            </label>
            <input class="w-full mb-3" formControlName="confirmPassword" type="password" id="confirm-password"
                pInputText>

            @if(registerForm.get('confirmPassword')?.invalid &&
            registerForm.get('confirmPassword')?.touched){
            <p-message severity="error" variant="outlined">
                {{ t('alertMessage.registerConfirmPasswordRequired') }}
            </p-message>
            }

            <button pButton pRipple label="{{ t('registerPage.buttonValidation') }}" icon="pi pi-user" class="w-full"
                [disabled]="registerForm.invalid">
            </button>

            <p>
                {{ t('registerPage.backLogin') }}
                <a routerLink="/auth/login">
                    {{ t('registerPage.buttonLogin') }}
                </a>
            </p>

        </form>
    </div>


</ng-container>