<ng-container *transloco="let t">

    <app-alert [showAlert]="showAlert()" [alertClass]="alertClass()" [alertMessage]="alertMessage() | transloco" />

    <h1>{{ t('projectPage.title') }}</h1>

    <button class="btn btn-outline-primary" [routerLink]="['/admin/add-product']">
        {{ t('projectPage.buttonAdd') }}
    </button>

    <br />

    @if(isLoading()) {

    Loading...

    } @else {

    @for (project of projects(); track project.id) {

    <table>
        <tr>
            <th>Id</th>
            <th>{{ t('projectPage.nameProject') }}</th>
            <th>{{ t('projectPage.descriptionProject') }}</th>
            <th>{{ t('projectPage.actionButtonTitle') }}</th>
        </tr>
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>
                <button [routerLink]="['/admin/project', project.id]">
                    {{ t('projectPage.buttonEdit') }}
                </button> |
                <button (click)="deleteSubmit(project.id)">
                    {{ t('projectPage.buttondelete') }}
                </button>
            </td>
        </tr>
    </table>
    }
    }
</ng-container>