<ng-container *transloco="let t">

    <div class="container-fluid text-center mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h2>{{ t('aboutPage.title') }}</h2>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">

                    @for(item of items; track item) {
                    <div class="col-sm-4 ">
                        <h1><i class='{{ item.icon }}'></i></h1>
                        <p>{{ t(item.description) }}</p>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>

</ng-container>