<ng-container *transloco="let t">

    <div class="shadow-2 border-round text-center md:p-8 bg-white ">
        <div class="mb-3 font-bold text-3xl">
            <span class="text-900">
                {{ t('aboutPage.title') }}
            </span>
        </div>


        <div class="grid">
            @for(event of events; track event) {
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-{{event.icon}} text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{event.name}}</div>
                <span class="text-700 line-height-3">{{ t(event.description) }}</span>
            </div>
            }
        </div>
    </div>


</ng-container>