<ng-container *transloco="let t">
    <div class="jumbotron mt-4 p-5 bg-light text-black rounded">
        <div class="container">
            <h2>
                <span>{{ t('noFoundPage.noFoundTitle') }}</span>
            </h2>
            <h3>{{ t('noFoundPage.noFoundSubTitle') }}</h3>
            <p>{{ t('noFoundPage.noFoundDescription') }}</p>
            <button class="btn btn-outline-secondary" type="button" [routerLink]="['/']">
                {{ t('noFoundPage.buttonBack') }}
            </button>
        </div>
    </div>
</ng-container>