<ng-container *transloco="let t">

    <nav class="navbar navbar-expand-sm bg-light">

        <div class="navbar-collapse collapse" [class.show]="navbarCollapsed()" id="collapsibleNavbar">
 

            <div class="container-fluid">
                @if(isAuthenticated$ | async) {

                <ul class="navbar-nav">
                    @for(action of actions; track action) {
                    <li class="nav-item">
                        <button class="btn btn-outline-primary me-1" routerLink="{{action.route}}">
                            {{ t(action.title) }}
                        </button>
                    </li>
                    }
                    <li>
                        <button class="btn btn-outline-danger" type="button" (click)="logout()">
                            {{ t('menu.logout') }}
                        </button>
                    </li>
                </ul>

                } @else {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary me-1" type="button" routerLink="/">
                            {{ t('menu.home') }}
                        </button>
                        <button class="btn btn-outline-primary" type="button" routerLink="/auth/login">
                            {{ t('menu.login') }}
                        </button>
                    </li>
                </ul>

                }

            </div>

        </div>

        <select [formControl]="langCtrl" [attr.aria-label]="t('menu.language')">
            @for (lang of availableLangs; track lang) {
            <option [value]="lang">{{ lang }}</option>
            }
        </select>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</ng-container>