<ng-container *transloco="let t">

    <p-toast />

    <div class="shadow-2 border-round text-center md:p-8 bg-white ">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">
                    {{ t('loginPage.title') }}
                </div>
            </div>

            <div>

                <p>Email : fake&#64;gmail.com</p>
                <p> Password : azertyuiop</p>

                <label class="block text-900 font-medium mb-2" for="email">{{ t('loginPage.email') }}</label>
                <input class="w-full mb-3" type="text" formControlName="email" type="email" id="email" pInputText>

                @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                <p-message severity="error" variant="outlined">
                    {{ t('alertMessage.errorEmail') }}
                </p-message>
                }

                <label class="block text-900 font-medium mb-2" for="password">{{ t('loginPage.password') }}</label>
                <input class="w-full mb-3" formControlName="password" type="password" id="password" pInputText>

                @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <p-message severity="error" variant="outlined">
                    {{ t('alertMessage.errorCharacters') }}
                </p-message>
                }

                <button pButton pRipple label=" {{ t('loginPage.buttonValidation') }}" icon="pi pi-user" class="w-full"
                    [disabled]="loginForm.invalid">
                </button>

                <p>
                    {{ t('loginPage.backRegister') }}
                    <a routerLink="/auth/register">
                        {{ t('loginPage.buttonRegister') }}
                    </a>
                </p>

            </div>

        </form>

    </div>

</ng-container>